<form action="/post" method="post">
    <input type="text" name="article" placeholder="投稿内容を記入してください">
    <input type="submit" value="投稿する">
</form>

<% @articles.each do |article| %>
    <div class="border rounded">
        <!--<form action="/reply_check" method="post"> -->
            <p><%= CGI.escapeHTML(article.article) %></p>
            <%= User.find_by(id: article.user_id).name %>, <%= article.created_at %>
          <!--  <input type="submit" value="返信する">
        </form> -->
        <a href="/reply/<%= article.id %>">返信する</a>
        <% if article.reply_check %>
        <a href="/reply_view/<%= article.id %>">返信があります</a>
        <% end %>
    </div>
<% end %>